%h1 
  About Schedule Tracker
%p
  The project will be an overlook of how an employee and an employer can benefit from the 
  automation of selecting different 
  work shifts/slots availability on a weekly/monthly basis.
%h3 
  Team Members
%ul
  %li Subrahmanyam Gampala
  %li Suchitra H V 
  %li Akhil Bommini
  %li Venkat 